/*Aqui estaram todos os estilos de componentes como botões , inputs , etc*/
/* ------------- */
/*    Botões     */
/* ------------- */


/* design de botão Primário*/
.callToAction {
    padding: 2% 6%;
    text-align: center;
    box-sizing: border-box;
    background: var(--corPrimariaMedium);
    border-radius: 16px;
    font-weight: 400;
    font-size: 1.5vw;
    cursor: pointer;    
}

/* design de botão secundário*/
.botaoSec {
    width: 10vw;
    padding: 1% 12%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B2A898;
    border: 1px solid #B2A898;
    border-radius: 16px;
    font-weight: 700;
    font-size: 1.4vw;
}

.dropDown {
    padding: 4px 16px;
    gap: 22px;
    background: #CCC4B8;
    border: 3px solid #80786C;
    border-radius: 8px;
    color: #2E2517;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: #CCC4B8;
    border: 2px solid #D9CCB8;
    border-radius: 8px;
}


.divLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.log{
    width: 100%;
}

@media screen and(min-width: 786px) {
    .callToAction {
        padding: 8px 16px;
    }

    .botaoSec {
        padding: 8px 24px;
    }
}