html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
}
#cabesalho{
    height: 10%;
    max-height: 49px;
    display: flex;
    justify-content: flex-end;   
    background-color: #B2A898;;
}
#AreaExclusiva {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #472C00;
    padding-right: 2%;
    box-sizing: border-box;
}

.redes {
    width: 30%;
    max-width: 300px;

}

header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    top: 48px;
    padding: 0px 72px;
    box-sizing: border-box;
    background-color: #FF9D02;
    gap: 35px;
}

a {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #131313;
}

.home {
    width: 40%;
    height: 80%;
}

.sections {
    width: 60%;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 78px;
    isolation: isolate;
}

#logo-header {
    width: 30%;
    height: 80%;
    max-width: 350px;
    min-width: 350px;
}

#logo-header a {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#logo-header a img {
    max-width: 100px;
}

#logoTXT {
    flex-wrap: wrap;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.redes a {
    padding: 0 50px 0 0;
    box-sizing: border-box;
    height: 90%;
    width: 20%;
}

.redes a img {
    max-height: 32px;
}

.botaoSec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    box-sizing: border-box;
    max-width: 154px;
    max-height: 40px;
    border: 1px solid #B2A898;
    border-radius: 16px;
    color: #B2A898;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}