:root {
    --corprimariaMedium: #FF9D02;
    --corgray900: #2E2517;
    --corgray700: #80786C;
    --corgray600: #B2A898;
    --corgray500: #CCC4B8;
    --corgray300: #D9CCB8;
    --corgray200: #E5DDCF;
    --corgray100: #E5E1DA;
}

@font-face {
    font-family: Inter;
    src: url(../FONTE/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #131313;
}

hr {
    position: relative;
    margin-top: 5%;
    background-color: var(--corgray700);
    width: 90%;
}

p {
    font-weight: 400;
    font-size: 2.1vw;
    line-height: 150%;
    color: #D9CCB8;
    top: 40%;
    left: 5%;
}