* {
    padding: 0;
    margin: 0;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    padding: 0 4% ;
    box-sizing: border-box;
}

.notesArea {
    width: 100%;
    height: 100%;    
    background-color: var(--corGray200);
    padding: 2% 1%;
    border: 4px solid #80786C;
    border-radius: 24px;

}
.notesArea.prof{
    position: relative;
    padding: 0;
}
.update{
    padding: 36px 16px ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.note {
    width: 100%;
    border-top: 1px  solid #80786C;
    padding: 2% 0 2% 2%;
    box-sizing:border-box ;
}

.note p {
    color: #111111;
    width: 100%;
}
.lembrete{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50%;
    width: 100%;
    border-top: 1px  solid #80786C;
}
.text{
    display:flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
    padding: 2% 0 2% 2%;
    box-sizing:border-box ;
}
.msg{
    text-align: justify;
}
.date{
    color: #80786C;
    text-align: left;
}
.new{
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2%;
}
.new .insert{
    display: flex;
    position: relative;
    padding: 4% 2% 2% 2%  ;    
    box-sizing: border-box;
    width: 100%;
}

.insert label{
    position: absolute;
    padding:  1%;
    box-sizing: border-box;
    transition:2s ease ;

}
.insert textarea{
    width: 100%;
    height: 10%;
    resize: none;
    text-align: left;
    background-color: var(--corGray200);
    border: none;
}
.insert textarea:focus{
    border:2px solid var(--corGray700);
    background-color: var(--corGray500);
    transition:.8s ease ;


}
.insert textarea:focus + label{
    font-size: 16px;
    top: 6px;
    padding: 0;
    transition:2s ease ;
}


/* código referentes a parte da grade de aulas */

.agenda_conteiner{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1% 2%;
    
    width: 100%;
    height: 100%;
}
.comand{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.criarAula span{
    font-size: 36px;
    color: var(--corGray100);
    
}
.navega{
    display: flex;
    gap: 2%;
    width: 28%;
}
.navega span{
    font-size: 36px;
    color: var(--corGray100);
}
.agenda{
    border: 4px solid #80786C;
    border-radius: 24px;
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color:var(--corGray200) ;
}
.grade{
    width: 700%;
    height: 100%;
}
.dayWeek{
        width: 100%;
}
.grade th{
    height: 12%;
    width: 14.3%;
    padding: 2px;
    box-sizing: border-box;
    border-width:0 1px 1px 0;
    border-style:solid;
    border-color:var(--corGray700);
}
.aula-conteiner{
    height: 80%;
    border-right:1px solid var(--corGray700) ;
}

@media screen and (min-width:768px) {
    .grade{
        width: 100%;
    }
    .dayWeek{
        padding: 0 0 0 1%;
        box-sizing: border-box;
    }
    .comand{
        justify-content: flex-end;
    }
    .navega{
        display: none;
    }
}