.imgFundo {
    width: 100%;
    max-height: 500px;
    position: relative;
}

#divLogo-nav a img {
    width: 25%;
    max-width: 100px;
    min-width: 35px;
    filter: drop-shadow(1px 1px 1px #000);
}

#logoFooter img {
    width: 25%;
    max-width: 100px;
    min-width: 35px;
}

.redes a img {
    width: 10%;
    min-width: 8px;
}
.redesFoot a img{
    width: 25%;
    min-width: 8px;
}

@media screen and (min-width: 768px) {
    #divLogo-nav a img {
        width: 40%;
        max-width: 100px;
    }
    #logoFooter img{
        max-width: 93px;
    }
    .redesFoot a img{
        width: 50%;
    }
}