.imgFundo {
    position: relative;
    width: 100%;
    max-height: 350px;

}

#divLogo-nav a img {
    width: 15%;
    min-width: 5px;
    filter: drop-shadow(1px 1px 1px #000);
}

#logoFooter img {
    width: 25%;
    max-width: 100px;
    min-width: 35px;
}

.redes img {
    width:30%;
    min-width: 8px;
}
.redesFoot a img{
    width: 25%;
    min-width: 8px;
}

@media screen and (min-width: 768px) {
    #divLogo-nav a img {
        width: 40%;
        max-width: 90px;
    }
    #logoFooter img{
        max-width: 93px;
    }
    .redes a img{
        width: 40%;
    }
    .redesFoot a img{
        width: 40%;
    }
}