nav {
    position: relative;
    height: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF9D02;
}
/* area da logo*/

.divLogo a {
    display: flex;
    gap:4%;
    width: 90%;
    align-items: center;
}

.logoTXT {
    text-transform: none;
    color: #131313;
}
/* area da lista*/

.sections {
    width:46%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.sections li {
    align-items: center;
}
/* area do menu*/

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 25px;
    height: 2px;
    background: #131;
    margin: 8px;
    transition: 0.3s;
}
.sections.active{
    transform: translateX(0);
    transition: 0.3s ease-in;
}
@media(max-width:768px){
    body{
        overflow-x: hidden;
    }
    nav{
        justify-content: space-between;
        padding: 0 4%;
        height: 10%;
    }
    .sections{
       position: absolute;
       top:10vh;
       right: 0;
       width: 30vw;
       height: 90vh;
       background-color: #FF9D02;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       transform: translateX(100%);
       transition: 0.3s ease-out;
       z-index: 1;
    }
    .sections li{
        margin-left: 0;
        transition: 0.3s;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu.active .line1{
        transform: translate(-8px, 8px) rotate(-45deg);
    }
    .mobile-menu.active .line2{
        opacity: 0;
    }
    .mobile-menu.active .line3{
        transform: translate(-8px, -12px) rotate(45deg);
    }
    .logoTXT{
        display: none;
    }
    .log .logoTXT{
        display: block;
    }
}