:root {
    --corPrimariaLigth: #f1f1f1;
    --corPrimariaMedium: #FF9D02;
    --corPrimariaDark100: #131313;
    --corPrimariaDark68: rgb(0, 0, 0, .68);
    --corPrimariaDark40: rgb(0, 0, 0, .40);
    --corGray900: #2E2517;
    --corGray700: #80786C;
    --corGray600: #B2A898;
    --corGray500: #CCC4B8;
    --corGray300: #D9CCB8;
    --corGray200: #E5DDCF;
    --corGray100: #E5E1DA;
    --corAuxiliarDangerous: #FF0202;
    --corAuxiliarAlert: #FFD702;
    --corAuxiliarSucess: #2FE502;
}

.areaLinha {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 2%;
    padding: 4% 0;
    box-sizing: border-box;
}

.linha {
    width: 90%;
    height: 2px;
    background-color: var(--corGray700);
}

/*  área com o contato e botão pra entrar na área exclusiva */
#cabecario {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    background-color: #B2A898;
    ;
}

#AreaExclusiva {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--corGray900);
    padding: 1% 2% 1% 0;
    box-sizing: border-box;
    gap: 20px;
}

.redes {
    width: 40%;
    display: flex;
    justify-content: space-between;

}

.redes a {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #131313;
}

/* inicio do corpo do site */
header {
    position: relative;
    width: 100%;
    max-height: 500px;
    min-height:170px;
    box-shadow: inset 20px -40px 40px #000000;
}

h1 {
    position: relative;
    margin: 4% 0;
    color: var(--corPrimariaMedium);
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    font-size: 3vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--corPrimariaMedium);
    gap: 10px
}

b {
    color: #fff;
}


#titleHero {
    margin:0;
    top: 10%;
    position: absolute;
    padding: 0 0 0 5%;
    box-sizing: border-box;
    text-align: left;
    color: #FF9D02;
    text-transform: none;
}

#headerSubButton {
    position: absolute;
    top: 48%;
    left: 5%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12%;
}

#headerSubButton .callToAction {
    width: 50%;
}
/* area dos atrativos */

#atrativos{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    margin:8% 0;
}
#atrativos div{
    text-align: center; 
    color:var(--corPrimariaLigth);
}
#cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width:360px;
    margin: 4% 0;
     justify-content: space-around;
}
    .card h4 { 
    text-align: center;
    color: var(--corPrimariaLigth);
}    
.card p{
    color: var(--corPrimariaLigth);
}
/* area do cursos */
#divOurCourses{
    height: 26%;
    margin: 4% 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divOurCourses div {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--corPrimariaLigth);
}
#divOurCourses .course{
    flex-direction: column;
}
.course h5, .course p{
    text-align: center;
}

/* area do vídeo */

.video{
    width: 100vw;
    height: auto;
    padding: 0 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
}
.videoFrame{
    height: 200px;
    width: 800px; 

}

/* area do carrossel */

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    margin: 0 0 5% 0;
}

.conteiner {
    position: relative;
    margin: 8% 0 2% 50%;
    transform: translate(-50%, 0);
    height: 30%;
    width: 80%;
    overflow: hidden;
    
}

.slide {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15%;
    transition: .6s;
}

.descricao {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15%;
    padding: 0 1% 1% 1%;
    box-sizing: border-box;
}

.descricao p {
    font-weight: 400;
    font-size: 2.2vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #F1F1F1;
    text-align: justify;
}

.navegation {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.circle {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
    transition: .4s;
}

.circle:hover {
    background-color: #FF9D02;
    border-color: #FF9D02;
}

/* area "Nossa história" */

#History{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 4% 0;

}
#historyContent{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#historytxt{
    display: block;
    width: 100%;
    color: var(--corPrimariaLigth);
    text-align: justify;
}
#historyimg{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;

}

/* area de contato da página */

.contact-container{
    position: relative;
    width:100%;
    margin: 4% 0 2% 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.localImg{
    width: 90%;
}
.localInfo{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--corPrimariaLigth);
}

.contact{
    position: relative;
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    box-sizing: border-box;
}

.contact div{
    display: flex;
}
.contact hr{
    color: var(--corGray700);
}
.contactInfo{
    height: 40%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16%;
    padding: 5% 0;
    box-sizing: border-box;
}
.contactInfo div{
    width: 100%;
    padding: 2% 8%;
    box-sizing: border-box;
    justify-content:space-between;
    color: var(--corGray500);
}
.contactInfo p{
    width: 80%;
    text-align: left;
}
.contactForm{
    width: 100%;
    height: 50%;
    padding: 0 2%;
    box-sizing: border-box;
}

.contactForm form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactForm form textarea{
    resize: none;
}
.contactForm form div{
    width: 100%;
    justify-content: flex-end;
}
/*  area do footer */

footer {
    position: relative;
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    box-sizing: border-box;
    background-color: var(--corPrimariaMedium);
    top: 16%;
}
#logoFooter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap:8%
}

#linkFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #FF9D02;
    flex-direction: column;
}

#listafooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    list-style: none;
    flex-direction: column;
}

#listafooter li {
    margin-left: 5%;
    align-items: center;
}
#footer-infoContact{
    display: block;
}
#footer-infoContact ul li div{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -10px;
}
#abouv{
    display: none;
}
#footer-infoContact ul {
    list-style: none;

}

.redesFoot {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

/*--------------------Tela de Login------------------*/
/* códigos referentes aos conteudos da tela de login */
#login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.log a {
    justify-content: center;
}

#login {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corPrimariaDark100);
    z-index: 100;
    gap: 56px;
}

#entrar {
    width: 80%;
    height: 40%;
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: space-around;
}

#selecao {
    display: flex;
    gap: 4%;
    justify-content: flex-end;
    align-items: center;
}

#entrar input[type=text], input[type=password] {
    width: 100%;
}

#entrar label {
    color: var(--corPrimariaMedium);
}

#logoLogin {
    color: var(--corPrimariaMedium);
}
#recovery{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
#recovery a{
    color: var(--corGray700);

}

/* Area do iframe da parte exclusiva*/
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    height: 92%;
    border-radius: 16px;
    margin: 3% 2%;
    border: none;
}

.perfilContent div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.perfilContent div h3 {
    align-self: flex-start;
    color: #111111;
}

.perfilContent div p {
    color: var(--corAuxiliarDangerous);
}
/* forms da parte superior da div que dividem spaços */
.formsUp{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between; 
    gap: 2%;
}
.notesArea form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 24px; 
    background: var(--corGray300);
    border: 4px solid var(--corGray700);
    border-radius: 16px;
}
.notesArea form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin:4% 0;
}
.notesArea form h2{
    width: 100%;
}

/*--------------------Tela de Alteração de senha------------------*/
/* códigos referentes aos conteudos da tela de  Alteração de senha */

.recoverySenha{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-60%);
    width: 340px;
    height: 280px;
    padding: 40px;
    box-sizing: border-box;
    background-color: var(--corGray900);
}
.recoverySenha form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recoverySenha form :nth-child(3){
    flex-direction: row;
    justify-content: flex-end;
}
.recoverySenha div{
    display: flex;
    flex-direction: column;
}
.recoverySenha.email div{
    height: 50%;
    justify-content: space-around;
}
.recoverySenha input[type=submit],.modal form input[type=button]{
    width: 36%;
}
.recoverySenha label{
    color: var(--corPrimariaLigth);
}

.homeConteiner{
    display: flex; 
    flex-direction: column;
    width:100%;
    height: 100%;
    align-items: center;
    padding: 0 1%;
    box-sizing: border-box;
}

/* responsividade */
@media screen and (min-width: 768px) {
    .areaLinha{
        padding: 2% 0;
    }
    #cabecario {
        height: 8vh;
    }

    #AreaExclusiva {
        gap: 40px;
    }

    .redes {
        width: 30%;
    }

    header{
        height: 52%;
    }
    #atrativos{
        margin: 2% 0;
    }
    #cards{
        height: 44%;
    }
    .videoFrame{
        height: 610px;
        width: 1120px;
    }
    .conteiner {
        height: 75%;
    }
    .descricao p{
        font-size: 1.5vw;
    }
    .navegation{
        bottom: 20px;
    }

    .circle {
        width : 16px;
        height: 16px;
    }
    #History{
        height: 44%;
    }
    #historyContent{
        width: 80%;
    }
    #historytxt{
        display: flex;
        flex-direction: row;
    }
    #historytxt p{
        width: 72%;
    }
    #historyimg{
        width: 36%;
        float: none;    
    }
    footer {
        height: 40%;
    }

    #redesFoot {
        width: 30vw;
    }
    #linkFooter{
        align-items: center;
        flex-direction: row;
    }
    #listafooter{
        align-items: center;
        flex-direction: row;
        width: 52%;
    }

    #listafooter li a {
        font-size: 1.2vw;
    }
    .contact{
        height: 500px;
        flex-direction: row;
    }
    .contactInfo{
        height: 100%;
        width: 40%;
    }
    .contactForm{
        height: 100%;
        width: 50%;
    }
    #footer-infoContact{
        display: none;
    }
    #abouv{
        display: flex;
    }
    #logoFooter{
        width: 24%;
    }
    #divOurCourses{
        height: 56%;
    }
    #login-container{
        justify-content: flex-start;  
    }
    #login{
        margin: 0;
        transform: translateX(0);
        width: 28vw;
        height: 100vh;
    }
    .recoverySenha{
        width: 480px;
        height: 320px;
    }
    .home-content{
        height: 100%;
    }
    .homeConteiner{
        flex-direction: row;
        align-items: unset;
    }
    .formsUp {
        flex-direction: row;
    }
    .formsUp form{
        width: 40%;
    }
    .notesArea form div{
        align-items: center;
        flex-direction: row;
        margin: 1% 0;
    }
}