:root {
    --corPrimariaMedium: #FF9D02;
    --corPrimariaDark100: #131313;
    --corPrimariaDark68: rgb(0, 0, 0, .68);
    --corPrimariaDark40: rgb(0, 0, 0, .40);
    --corGray900: #2E2517;
    --corGray700: #80786C;
    --corGray600: #B2A898;
    --corGray500: #CCC4B8;
    --corGray300: #D9CCB8;
    --corGray200: #E5DDCF;
    --corGray100: #E5E1DA;
}
.areaLinha{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
    box-sizing: border-box;
}
.linha{
    width: 90%;
    height: 2px;
    background-color: var(--corGray700);
}
/*  área com o contato e botão pra entrar na área exclusiva */
#cabecario {
    position: relative;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    background-color: #B2A898;
    ;
}

#AreaExclusiva {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--corGray900);
    padding: 1% 2% 1% 0;
    box-sizing: border-box;
    gap: 20px;
}

.redes {
    width: 40%;
    display: flex;
    justify-content: space-between;

}
.redes a{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #131313;
}

/* inicio do corpo do site */
header {
    position: relative;
    width: 100%;
    max-height: 500px;
    box-shadow: inset 20px -40px 40px #000000;
}

h1 {
    position: relative;
    top: 0;
    color: var(--corPrimariaMedium);
    text-align: center;
    font-weight: 800;
    font-size: 4.4vw;
}

h3 {
    font-weight: 600;
    font-size: 3vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--corPrimariaMedium);
    gap: 10px
}

b {
    color: #fff;
}


#titleHero {
    top: 10%;
    position: absolute;
    padding: 0 0 0 5%;
    box-sizing: border-box;
    text-align: left;
    color: #FF9D02;
    font-weight: 800;
    font-size: 4.4vw;
}

p {
    font-weight: 400;
    font-size: 2.1vw;
    line-height: 150%;
    color: #D9CCB8;
    top: 40%;
    left: 5%;
}
#headerSubButton {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;
}

/* area do carrossel */

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.conteiner {
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30%;
    width: 80%;
    overflow: hidden;
    position: relative;

}

.slide {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15%;
    transition: .6s;
}

.slide img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.descricao {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15%;
    padding: 0 1% 1% 1%;
    box-sizing: border-box;
}

.descricao p {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #F1F1F1;
    text-align: justify;
}

.navegation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.circle {
    width: 1vw;
    height: 0.8vh;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
    transition: .4s;
}

.circle:hover {
    background-color: #FF9D02;
    border-color: #FF9D02;
}

/*  area do footer */

footer {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    box-sizing: border-box;
    background-color: var(--corPrimariaMedium);
    top: 40%;
}

#logoFooter {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#linkFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF9D02;
}

#listafooter {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#listafooter li {
    margin-left: 5%;
    align-items: center;
}

#listafooter li a {

    font-size: 0.5em;
}

#hrfooter {
    margin: 0;
    width: 100%;
}
.redesFoot {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

/*Tela de Login*/
.log a {
    justify-content: center;
}
#login{
    width: 28vw;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap:56px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#entrar{
    width: 80%;
    height: 40%;
    display: flex;
    gap:10%;
    flex-direction: column;
    justify-content: space-around;  
}
#selecao{
    display: flex;
    gap: 4%;
    justify-content: flex-end;
    align-items: center;
}
#entrar input[type=text]{
    width: 85%;
}
#entrar label{
    color: var(--corPrimariaMedium);
}
#logoLogin{
    color: var(--corPrimariaMedium);
}

/* Area de perfil */

.divPerfil{
    margin: 3%;
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
    gap: 32px;   
    background: var(--corGray200);
    /* $Color/Gray/700 */
    border: 4px solid var(--corGray700);
    border-radius: 16px;
}
/* responsividade */
@media screen and (min-width: 768px) {
    #cabecario {
       height: 8vh;
    }
    #AreaExclusiva{
        gap:40px;
    }
    
    .redes{
        width: 30%;
    }


    .conteiner {
        height: 75%;
    }

    .circle {
        width: 1.3vw;
        height: 2vh;
    }

    footer {
        height: 30%;
    }

    #redesFoot {
        width: 30vw;
    }

    #listafooter li a {
        font-size: 1.2vw;
    }
}