/*aqui estaram todos os estilos de tipografia*/


/* ------------- */
/* Desktop-title */
/* ------------- */

/* H1 (56px) */
.dTitle56 {
    font-weight: 800;
    font-size: 56px;
    line-height: 150%;
}

/* H2 (48px) */
.dTitle48 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
}

/* H3 (40px) */
.dTitle40 {
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
}

/* H4 (32px) */
.dTitle32 {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
}

/* H5 (24px) */
.dTitle24 {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

/* ------------------- */
/* Desktop-Description */
/* ------------------- */


/* H1 (32px */
.dDescri32 {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}

/* H2 (28px) */
.dDescri28 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

/* H3 (24px) */
.dDescri24 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

/* H4 (20px) */
.dDescri20 {
    font-weight: 500;
    font-size: 20px;
        line-height: 150%;
}

/* H5 (16px) */
.dDescri16 {
    font-weight: 400;
    font-size: 16px;
}

/* ------------ */
/* Mobile-title */
/* ------------ */

/* H1 (28px)*/
.mTitle28 {
    font-weight: 800;
    font-size: 28px;
    line-height: 150%;
}

/* H2 (24px) */
.mTitle24 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

/* H3 (20px) */
.mTitle20 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

/* H4 (18px) */
.mTitle18 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

/* H5 (16px) */
.mTitle16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/* ------------------ */
/* Mobile-Description */
/* ------------------ */

/* H1 (24px) */
.mDescri24w {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
}

/* H2 (20px) */
.mDescri20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

/* H3 (18px) */
.mDescri18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

/* H4 (16px) */
.mDescri16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

/* H5 (8px) */
.mDescri8 {
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
}