/*aqui estaram todos os estilos de tipografia*/


/* ------------- */
/* Desktop-title */
/* ------------- */

/* H1 (56px) */
.titleH1 {
    font-weight: 800;
    font-size: 56px;
}

/* H2 (48px) */
.titleH2 {
    font-weight: 700;
    font-size: 48px;
       
}

/* H3 (40px) */
.titleH3 {
    font-weight: 600;
    font-size: 40px;
       
}

/* H4 (32px) */
.titleH4 {
    font-weight: 500;
    font-size: 32px;
       
}

/* H5 (24px) */
.titleH5 {
    font-weight: 400;
    font-size: 24px;
       
}

/* ------------------- */
/* Desktop-Description */
/* ------------------- */


/* H1 (32px */
.descriH1 {
    font-weight: 700;
    font-size: 32px;
       
}

/* H2 (28px) */
.descriH2 {
    font-weight: 700;
    font-size: 28px;
       
}

/* H3 (24px) */
.descriH3 {
    font-weight: 600;
    font-size: 24px;
       
}

/* H4 (20px) */
.descriH4 {
    font-weight: 500;
    font-size: 20px;
       
}

/* H5 (16px) */
.descriH5 {
    font-weight: 400;
    font-size: 16px;
}

@media(max-width:768px) {

    /* ------------ */
    /* Mobile-title */
    /* ------------ */

    /* H1 (28px)*/
    .titleH1 {
        font-weight: 800;
        font-size: 28px;
    }

    /* H2 (24px) */
    .titleH2 {
        font-weight: 700;
        font-size: 24px;
           
    }

    /* H3 (20px) */
    .titleH3 {
        font-weight: 600;
        font-size: 20px;
           
    }

    /* H4 (18px) */
    .titleH4 {
        font-weight: 500;
        font-size: 18px;
           
    }

    /* H5 (16px) */
    .titleH5 {
        font-weight: 400;
        font-size: 16px;
           
    }

    /* ------------------ */
    /* Mobile-Description */
    /* ------------------ */

    /* H1 (24px) */
    .descriH1 {
        font-weight: 800;
        font-size: 24px;
           
    }

    /* H2 (20px) */
    .descriH2 {
        font-weight: 700;
        font-size: 20px;
           
    }

    /* H3 (18px) */
    .descriH3 {
        font-weight: 600;
        font-size: 18px;
           
    }

    /* H4 (16px) */
    .descriH4 {
        font-weight: 500;
        font-size: 16px;
           
    }

    /* H5 (8px) */
    .descriH5 {
        font-weight: 400;
        font-size: 12px;
        
    }
}