nav {
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF9D02;
}
/* area da logo*/
#divLogo-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#divLogo-nav a {
    display: flex;
    align-items: center;
}

#logoTXT {
    color: #131313;
    font-weight: 800;
    font-size: 1.4vw;
    line-height: 130%;
}
/* area da lista*/

.sections {
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: center;
}

.sections li {
    margin-left: 5%;
    align-items: center;
}
/* area do menu*/

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media(max-width:999px){
    nav{
        height:5vh;
    }
}